@charset 'UTF-8';
/*body start*/
.body{
}
/*body title start*/
.body_title_bg{
	height: 41px;
	background-color: rgb(248,248,248);
	border-bottom: 1px solid #DD00A7;
}
.body_title{
	font-size: 15px;
	height: 41px;
	line-height: 41px;
}
/*body title left start*/
.body_title_left_nav{
	float: left;
	width: 200px;
	position: relative;
	z-index: 3;
}
.body_title_left_nav > h4{
	height: 41px;
	padding: 0 15px;
	background-color: #F2F2F2;
	color: #696969;
	font-family: 'Microsoft YaHei';
	border-bottom: 1px solid #DD00A7;
}
.body_title_left_nav_list{
	/*height: 450px;*/
	/*padding-top: 2px;*/
	background-color: #707070;
	color: #fff;
	font-size: 14px;
}
.body_title_left_nav_list li{
	height: 30px;
	line-height: 30px;
	padding: 0 15px;
}
.body_title_left_nav_list li > a{
	margin-right: 1px;
    font-weight: lighter;
}
.body_title_left_nav_list li:hover{
	background-color: #FBFBFB;
	color: #5e5e5e;
}
.body_title_left_nav_list li:hover .body_title_left_nav_list_center{
	display: block;
}
.body_title_left_nav_list > li > a:hover{
	color: red;
}
.body_title_left_nav_list_center{
	display: none;
	width: 960px;
	/*height: 450px;*/
	position: absolute;
	left: 200px;
	top: 0;
	padding: 10px 20px;
	background-color: #FBFBFB;
	border: 1px solid #ccc;
	border-left: none;
}
.body_title_left_nav_list_center_msg{
	float: left;
}
.body_title_left_nav_list_center_title a{
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 6px;
	margin-right: 1px;
	background-color: #E3101E;
	color: #fff;
}
.body_title_left_nav_list_center_title a i {
    display: inline-block;
    width: 5px;
    height: 7px;
    background: url(../images/ui.png) -70px -433px;
    margin-left: 6px;
}
.body_title_left_nav_list_center_title_list{
	float: left;
	width: 760px;
	color: #000;
}
.body_title_left_nav_list_center_title_list dl{
	/*margin-top: 10px;*/
}
.body_title_left_nav_list_center_title_list dl:after{
	content: '';
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
	clear: both;
}
.body_title_left_nav_list_center_title_list dt, .body_title_left_nav_list_center_title_list dd{
	float: left;
	padding: 5px 0;
}
.body_title_left_nav_list_center_title_list dt{
	width: 67px;
	height: 22px;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.8;
}
.body_title_left_nav_list_center_title_list dd{
	width: 681px;
	font-size: 12px;
	color: #5e5e5e;
	border-bottom: 1px solid #eee;
}
.body_title_left_nav_list_center_title_list dd a{
	width: 700px;
	padding: 0 6px;
	border-left: 1px solid #eee;
}
.body_title_left_nav_list_center_title_list dd a:hover{
	color: red;
}
.body_title_left_nav_list_center_img{
	float: right;
	width: 200px;
	height: 450px;
	background-color: #fff;
}
.body_title_left_nav_list_center_img_top{
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.body_title_left_nav_list_center_img_top a{
	display: inline-block;
	width: 97px;
	height: 35px;
	padding-top: 20px;
	text-align: center;
}
.body_title_left_nav_list_center_img_bottom{
	padding-top: 50px;
}
/*body title left end*/
/*body title middle start*/
.body_title_middle{
	float: left;
}
.body_title_middle a{
	display: inline-block;
	margin: 0 10px;
}
.body_title_middle a:hover{
	color: red;
}
.body_title_middle a i{
	display: inline-block;
	width: 20px;
	height: 14px;
	position: absolute;
	background: url(../images/ui.png) -130px -721px;
}
/*body title middle end*/
/*body title right start*/
.body_title_right_nav{
	float: right;
	width: 195px;
	height: 40px;
}
.body_title_right_nav ul{
	width: 170px;
	height: 130px;
}
.body_title_right_nav_ctn{
	float: left;
	width: 170px;
	height: 40px;
	overflow: hidden;
}
.body_title_right_nav_btn{
	float: right;
	margin: 9px 0;
}
.body_title_right_nav_btn_up, .body_title_right_nav_btn_down{
	display: block;
    width: 10px;
    height: 10px;
    border: 1px solid rgb(248,248,248);
}
.body_title_right_nav_btn_up{
	margin-bottom: 4px;
}
.body_title_right_nav_btn_up i, .body_title_right_nav_btn_down i{
	display: block;
    width: 10px;
    height: 10px;
    background-image: url(../images/ui.png);
    background-position: -20px -1344px;
}
.body_title_right_nav_btn_down i{
    background-position: -20px -1352px;
}
.body_title_right_nav_btn_up:hover, .body_title_right_nav_btn_down:hover{
	background-color: #F2F2F2;
	border: 1px solid #ddd;
}
/*body title right end*/
/*body title end*/
/*body main start*/
.body_main{
	/*border: 1px solid red;*/
	height: 450px;
}
.body_main_focus_left{
	position: absolute;
	top: 0;
	left: -300px;
}
.body_main_focus_right{
	position: absolute;
	top: 0;
	right: -300px;
}
.body_main_banner{
	width: 750px;
	height: 450px;
	position: absolute;
	top: 0;
	left: 200px;
	overflow: hidden;
}
.body_main_banner_list{
	width: 6010px;
}
.body_main_banner_list li{
	float: left;
}
.body_main_banner > img{
	position: absolute;
	top: 0;
	left: 20px;
}
.body_main_banner_arrow_left, .body_main_banner_arrow_right{
	width: 40px;
	height: 80px;
	position: absolute;
	top: 50%;
	right: 45px;
	margin-top: -40px;
	background:rgba(0,0,0,0.2);
}
.body_main_banner_arrow_right{
	right: 0;
}
.body_main_banner_arrow_left:hover, .body_main_banner_arrow_right:hover{
	background:rgba(0,0,0,0.4);
}
.body_main_banner_arrow_left i, .body_main_banner_arrow_right i{
	display: inline-block;
	width: 40px;
	height: 80px;
	background: url(../images/ui1.png) no-repeat;
	background-position: 0 -112px;
}
.body_main_banner_arrow_right i{
	background-position: -42px -112px;
}
.body_main_banner_btn{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -160px; 
}
.body_main_banner_btn li{
	float: left;
	width: 30px;
	height: 13px;
	margin: 0 5px;
}
.body_main_banner_btn li a{
	/*display: inline-block;*/ /*inline-block为什么会掉下去*/
	display: block;
	width: 30px;
	height: 5px;
	background-color: rgba(0,0,0,0.4);
}
.body_main_banner_btn li:nth-child(1) a{
	background-color: red;
}
.body_main_banner_btn li a:hover{
	background-color: red;
}
.body_main_right{
	width: 250px;
	height: 420px;
	position: absolute;
	top: 0;
	right: 0;
	color: rgb(136,136,136);
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
}
.body_main_right_msg{
	padding-bottom: 5px;
	padding: 0 15px;
}
.body_main_right_msg_title h3 {
	float: left;
	color: #000;
	font-weight: normal;
	margin: 5px 0;
}
.body_main_right_msg_title a {
	float: right;
}
.body_main_right_msg_title a:hover {
	color: red;
}
.body_main_right_msg_title a  i{
	display: inline-block;
	width: 5px;
    height: 9px;
    margin-left: 4px;
    background: url(../images/ui1.png) -126px -130px no-repeat;
}
.body_main_right_msg_content{
	padding-bottom: 5px;
	border-bottom: 1px dotted rgb(136,136,136);
}
.body_main_right_msg_content p{
	height: 26px;
	line-height: 26px;
}
.body_main_right_msg_content p a + a{
	margin-left: 7px;
}
.body_main_right_msg_content p a:hover{
	color:red;
}
.body_main_right_box{
	padding: 7px 15px;
}
.body_main_right_box li{
	float: left;
	text-align: center;
}
.body_main_right_box a{
	display: inline-block;
	width: 55px;
	height: 72px;
}
.body_main_right_box a i:nth-child(1){
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 35px;
    color: #4f4b4b;
}
.body_main_right_box a i:nth-child(2){
	display: block;
    color: #4f4b4b;
    margin-left: 7px;
}
.body_main_right_box a:hover i{
	color: red;
}
.body_main_right_coupon_msg{
	color: #fff;
	position: absolute;
	top: 13px;
    left: 19px;
}
.body_main_right_coupon_msg p:nth-child(1){
	font-size: 13px;
	font-weight: bold;
}
/*body main end*/
/*body rob start*/
.body_rob_focus_left{
	position: absolute;
	top: 0;
	left: -300px;
}
.body_rob_focus_right{
	position: absolute;
	top: 0;
	right: -300px;
}
.body_rob{
	padding-top: 20px;
}
.body_rob_left{
	float: left;
	width: 948px;
}
.body_rob_left_top{
	height: 40px;
	border: 1px solid #e6e6e6;
	border-bottom: none;
	border-top: 1px solid #DD00A7;
	color: red;
}
.body_rob_left_top_l{
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}
.body_rob_left_top_r{
	width: 240px;
	height: 40px;
	line-height: 40px;
}
.body_rob_left_top_r span{
	font-size: 20px;
}
.body_rob_left_top_r span i{
	display: inline-block;
	width: 27px;
	height: 27px;
	line-height: 27px;
	margin: 0 3px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	background-color: red;
}
.body_rob_left_bottom{
	height: 212px;
	border: 1px solid #e6e6e6;
}
.body_rob_left_bottom{
	width: 946px;
	height: 210px;
	overflow: hidden;
}
.body_rob_left_bottom ul{
	width: 2000px;
}
.body_rob_left_bottom ul li{
	float: left;
	width: 237px;
	height: 180px;
    padding: 15px 0;
}
.body_rob_left_bottom ul li a{
	display: inline-block;
	width: 235px;
	height: 180px;
    border-right: 1px solid #eee;
    text-align: center;
}
.body_rob_left_bottom ul li a div{
    padding-left: 15px;
    margin-top: 6px;
    text-align: left;
}
.body_rob_left_bottom ul li a div span, .body_rob_left_bottom ul li a div span + i{
    font-size: 20px;
    color: red;
}
.body_rob_left_bottom ul li a div span + i + i{
	margin-left: 2px;
    color: #999;
    text-decoration: line-through;
}
.body_rob_left_bottom ul li a div p{
    color: #5e5e5e;
}
.body_rob:hover .body_rob_left_bottom_btn{
	display: block;
}
.body_rob_left_bottom_btn{
	display: none;
}
.body_rob_left_bottom_btn p{
	position: absolute;
	top: 50%;
	margin-top: -50px;
	width: 24px;
	height: 48px;
	background-color: rgba(0,0,0,0.2);
}
.body_rob_left_bottom_btn p:nth-child(1){
	left: 0;
}
.body_rob_left_bottom_btn p:nth-child(2){
	right: 0;
}
.body_rob_left_bottom_btn p i{
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 48px;
	background: url("../images/ui1.png") no-repeat;
}
.body_rob_left_bottom_btn p:nth-child(1) i{
	background-position: -4px -178px;
}
.body_rob_left_bottom_btn p:nth-child(2) i{
	background-position: -33px -178px;
}
.body_rob_left_bottom_btn p:hover{
	background-color: rgba(0,0,0,0.4);
}
.body_rob_right{
	float: right;
	width: 240px;
	height: 252px;
}
/*body rob end*/
/*body sale start*/
.body_sale_focus_left{
	position: absolute;
	top: 2px;
	left: -300px;
}
.body_sale_focus_right{
	position: absolute;
	top: 2px;
	right: -300px;
}
.body_sale_msg  > ul >li{
	float: left;
}
/*body sale end*/
 /*body feature start*/
 .body_feature_left{
 	width: 420px;
    height: 481px;
    margin-right: 10px;
 }
.body_feature_title{
	margin-top: 30px;
	margin-bottom: 5px;
	font-size: 20px;
	color: #ccc;
}
.body_feature_title h2 {
	float: left;
    width: 70px;
    height: 23px;    
    margin-top: 2px;
    margin-right: 8px;
    background: url(../images/ui1.png) no-repeat;
    background-position: -169px -100px;
}
.body_feature_msg {
    border: 1px solid #e6e6e6;
    height: 419px;
}
.body_feature_msg a{
	float: left;
}
.dotted_line_b{
	border-bottom: 1px dotted #eee;
}
.body_feature_center .body_feature_title h2 {
	background-position: -169px -132px;
}
.body_feature_right .body_feature_title h2 {
	background-position: -169px -164px;
}
.body_feature_center{
	width: 420px;
}
.body_feature_right{
	width: 340px;
}
.body_feature_right_left{
	width: 219px;
}
.body_feature_right_right{
	width: 119px;
}
.body_feature_right_right a {
    display: block;
    height: 59px;
    width: 118px;
    text-align: center;
    border-left: 1px solid #e6e6e6;
}
.body_feature_right_right img{
	margin-top: 15px;
}
/*body feature end*/
/*body end*/