@charset 'UTF-8';
/*body start*/
.body{
	background-color: rgb(248,248,248);
}
/*body title start*/
.body_title{
	font-size: 15px;
	height: 41px;
	line-height: 41px;
}
/*body title left start*/
.body_title_left_nav{
	float: left;
	width: 200px;
	position: relative;
	z-index: 3;
}
.body_title_left_nav > h4{
	height: 40px;
	padding: 0 15px;
	background-color: #F2F2F2;
	color: #696969;
	font-family: 'Microsoft YaHei';
}
.body_title_left_nav_list{
	/*height: 450px;*/
	padding: 2px 15px 0;
	background-color: #707070;
	color: #fff;
	font-size: 14px;
}
.body_title_left_nav_list li{
	height: 30px;
	line-height: 30px;
}
.body_title_left_nav_list li a{
	margin-right: 1px;
    font-weight: lighter;
}
/*body title left end*/
/*body title middle start*/
.body_title_middle{
	float: left;
}
.body_title_middle a{
	display: inline-block;
	margin: 0 10px;
}
.body_title_middle a:hover{
	color: red;
}
.body_title_middle a i{
	display: inline-block;
	width: 20px;
	height: 14px;
	position: absolute;
	background: url(../images/ui.png) -130px -721px;
}
/*body title middle end*/
/*body title right start*/
.body_title_right_nav{
	float: right;
	width: 195px;
	height: 40px;
}
.body_title_right_nav ul{
	width: 170px;
	height: 130px;
}
.body_title_right_nav_ctn{
	float: left;
	width: 170px;
	height: 40px;
	overflow: hidden;
}
.body_title_right_nav_btn{
	float: right;
	margin: 9px 0;
}
.body_title_right_nav_btn_up, .body_title_right_nav_btn_down{
	display: block;
    width: 10px;
    height: 10px;
    border: 1px solid rgb(248,248,248);
}
.body_title_right_nav_btn_up{
	margin-bottom: 4px;
}
.body_title_right_nav_btn_up i, .body_title_right_nav_btn_down i{
	display: block;
    width: 10px;
    height: 10px;
    background-image: url(../images/ui.png);
    background-position: -20px -1344px;
}
.body_title_right_nav_btn_down i{
    background-position: -20px -1352px;
}
.body_title_right_nav_btn_up:hover, .body_title_right_nav_btn_down:hover{
	background-color: #F2F2F2;
	border: 1px solid #ddd;
}
/*body title right end*/
/*body title end*/
/*body main start*/
.body_main{
	/*border: 1px solid red;*/
}
.body_main_focus_left{
	position: absolute;
	top: 0;
	left: -300px;
}
.body_main_focus_right{
	position: absolute;
	top: 0;
	right: -300px;
}
.body_main_banner{
	width: 750px;
	height: 450px;
	position: absolute;
	top: 0;
	left: 200px;
	overflow: hidden;
}
.body_main_banner_list{
	width: 6010px;
}
.body_main_banner_list li{
	float: left;
}
.body_main_banner > img{
	position: absolute;
	top: 0;
	left: 20px;
}
.body_main_banner_arrow_left, .body_main_banner_arrow_right{
	width: 40px;
	height: 80px;
	position: absolute;
	top: 50%;
	right: 45px;
	margin-top: -40px;
	background:rgba(0,0,0,0.2);
}
.body_main_banner_arrow_right{
	right: 0;
}
.body_main_banner_arrow_left:hover, .body_main_banner_arrow_right:hover{
	background:rgba(0,0,0,0.4);
}
.body_main_banner_arrow_left i, .body_main_banner_arrow_right i{
	display: inline-block;
	width: 40px;
	height: 80px;
	background: url(../images/ui1.png) no-repeat;
	background-position: 0 -112px;
}
.body_main_banner_arrow_right i{
	background-position: -42px -112px;
}
.body_main_banner_btn{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -160px; 
}
.body_main_banner_btn li{
	float: left;
	width: 30px;
	height: 13px;
	margin: 0 5px;
}
.body_main_banner_btn li a{
	/*display: inline-block;*/ /*inline-block为什么会掉下去*/
	display: block;
	width: 30px;
	height: 5px;
	background-color: rgba(0,0,0,0.4);
}
.body_main_banner_btn li:nth-child(1) a{
	background-color: red;
}
.body_main_banner_btn li a:hover{
	background-color: red;
}
.body_main_right{
	width: 250px;
	height: 420px;
	position: absolute;
	top: 0;
	right: 0;
	color: rgb(136,136,136);
	padding: 15px 0;
}
.body_main_right_msg{
	padding-bottom: 5px;
	padding: 0 15px;
}
.body_main_right_msg_title h3 {
	float: left;
	color: #000;
	font-weight: normal;
	margin: 5px 0;
}
.body_main_right_msg_title a {
	float: right;
}
.body_main_right_msg_title a:hover {
	color: red;
}
.body_main_right_msg_title a  i{
	display: inline-block;
	width: 5px;
    height: 9px;
    margin-left: 4px;
    background: url(../images/ui1.png) -126px -130px no-repeat;
}
.body_main_right_msg_content{
	padding-bottom: 5px;
	border-bottom: 1px dotted rgb(136,136,136);
}
.body_main_right_msg_content p{
	height: 26px;
	line-height: 26px;
}
.body_main_right_msg_content p a + a{
	margin-left: 7px;
}
.body_main_right_msg_content p a:hover{
	color:red;
}
.body_main_right_box{
	padding: 7px 15px;
}
.body_main_right_box li{
	float: left;
	text-align: center;
}
.body_main_right_box a{
	display: inline-block;
	width: 55px;
	height: 72px;
}
.body_main_right_box a i:nth-child(1){
	display: inline-block;
	width: 30px;
	height: 30px;
	font-size: 35px;
    color: #4f4b4b;
}
.body_main_right_box a i:nth-child(2){
	display: block;
    color: #4f4b4b;
    margin-left: 7px;
}
.body_main_right_box a:hover i{
	color: red;
}
.body_main_right_coupon{
/*	margin-top: 5px;
	height: 50px;*/
}
/*body main end*/
/*body end*/